
Neural Network Test/bin/Debug/Neural Network Test.exe
Neural Network Test/bin/Debug/Neural Network Test.exe.config
Neural Network Test/bin/Debug/Neural Network Test.pdb
Neural Network Test/bin/Debug/Neural Network Test.vshost.exe
Neural Network Test/bin/Debug/Neural Network Test.vshost.exe.config
Neural Network Test/bin/Debug/Neural Network Test.vshost.exe.manifest
*.Cache
*.dll
Neural Network Test/obj/x86/Debug/App.g.cs
Neural Network Test/obj/x86/Debug/App.g.i.cs
Neural Network Test/obj/x86/Debug/MainWindow.baml
Neural Network Test/obj/x86/Debug/MainWindow.g.cs
Neural Network Test/obj/x86/Debug/MainWindow.g.i.cs
Neural Network Test/obj/x86/Debug/Neural Network Test.csproj.FileListAbsolute.txt
Neural Network Test/obj/x86/Debug/Neural Network Test.exe
Neural Network Test/obj/x86/Debug/Neural Network Test.g.resources
Neural Network Test/obj/x86/Debug/Neural Network Test.pdb
Neural Network Test/obj/x86/Debug/Neural_Network_Test.Properties.Resources.resources
